# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

.idea
.project
.classpath
.nx
.c9/
*.launch
.settings/
*.sublime-workspace
codestyleconfig.xml
webResources.xml


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/.eslintcache

# Sentry Config File
.env.sentry-build-plugin

.swc
reports

# Local environment variables 
.env.local
